{% extends "site_base.html" %}

{% block title %}Find Me, Ping Me{% endblock %}

{% block head_title %}Find Me, Ping Me{% endblock %}

{% block content %}
<div>
    <a href="http://www.facebook.com/calvin.cheng.lc">
        <img src="{{ MEDIA_URL }}contact/facebook.png" alt="Facebook Profile" />
    </a>
</div>
<div>
    <a href="http://www.twitter.com/calvinchengx">
        <img src="{{ MEDIA_URL }}contact/twitter.png" alt="Twitter" />
    </a>
</div>
<div>
    <a href="http://sg.linkedin.com/in/calvinchengocg">
        <img src="{{ MEDIA_URL }}contact/linkedin.png" alt="Linkedin Profile" />
    </a>
</div>
{% endblock content %}
