<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
    <head>
		{% block meta %}{% endblock meta %}

		{% block css %}
		<link rel="stylesheet" type="text/css"  media="screen, projection" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
		<link rel="stylesheet" type="text/css"  media="print" href="{{ MEDIA_URL }}combined-print-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
		<!--[if IE]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}ie.css">
		<![endif]-->
		{% endblock css %}

		{% block js %}
		<script type="text/javascript" src="{{ MEDIA_URL }}combined-{{ LANGUAGE_CODE }}.js"></script>
		{% endblock js %}

		{% block extra-head %}{% endblock %}

        <title>{% block title %}{% endblock %} 
            | {{ site_attributes.name }}</title>
    </head>

    <body class="home blog">

        <div id="wrapper">

            {% block header %}
            {% endblock header %}

            <div id="main">
                <div id="contentwrap">

                    <div class="content">
                        <h2>{% block head_title %}
                            {% endblock head_title %}</h2>
                        {% block content %}
                        {% endblock content %}
                    </div><!--End content-->

                    <div class="sidebar">
                        {% block sidebar %}
                        {% endblock sidebar %}
                    </div><!--End sidebar-->
                </div><!--End contentwrap-->
            </div><!--End main-->

            <div id="footer">
            </div><!--End footer-->

        </div><!--End wrapper-->


    </body>
</html>
{% comment %}
    base.html exists as a standard HTML wrapper and is applicable for all projects.
{% endcomment %}

