{% extends "base.html" %}

{% load menu_tags %}
{% load blog_tags %}

{% block rss %}{% endblock rss %}

{% block meta %}
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
{% endblock meta %}

{% block extra_head %}
    <!--[if lte IE 6]>
      <script type="text/javascript" src="{{ MEDIA_URL }}global/js/DD_belatedPNG_0.0.8a-min.js"></script>
      <script type="text/javascript">
	DD_belatedPNG.fix('#wrapper, #main, #contentwrap, #header ul li, #header ul li a, .pagenavigation li a, a.more-link, #footer, #latesttweet, a.comments, .sidebar h2, img');
      </script>
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}global/css/ie6.css" />
      <![endif]-->
{% endblock extra_head %}

{% block header %}

    <div id="header">
        <h1><a class="logolink" href="/"><img alt="Calvin and Hobbes" src="{{ MEDIA_URL }}global/images/logo/my_logo_4.png"/></a></h1>
        <br />
        <p>Software Solutions for Business Problems.</p>
        {% show_menu request.path %}
    </div>
    <!-- End Header -->

{% endblock header %}

{% block content %}
{% endblock content %}

{% block sidebar %}

     <img class="aff" alt="Twitter" 
     src="{{ MEDIA_URL }}global/images/icons/tweet.png" />

    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 4,
      interval: 6000,
      width: 180,
      height: 300,
      theme: {
        shell: {
          background: '#ffffff',
          color: '#171617'
        },
        tweets: {
          background: '#ffffff',
          color: '#171617',
          links: '#ebb207'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('calvinchengx').start();
    </script>

    <ul>

        <li class="widget widget_links" id="linkcat-2">
            <h2 class="widgettitle">Blogroll</h2>
            {% show_blogroll %}
        </li>

        <li class="widget widget_categories" id="categories-3">
            <h2 class="widgettitle">Categories</h2>
            {% show_categories %}
        </li>

         <li class="widget widget_text" id="text-3">			
            <h2 class="widgettitle">Affiliations</h2>
            <ul>
                <li>
                     <a title="python programming language" 
                         href="http://www.python.org">
                         <img class="aff" alt="Python" 
                         src="{{ MEDIA_URL }}global/images/affiliations/python_logo_w120.png" />
                     </a>
                </li>
                <li>
                     <a title="django rocks!" 
                         href="http://www.djangoproject.com">
                         <img class="aff" alt="Django" 
                         src="{{ MEDIA_URL }}global/images/affiliations/django_logo_w120.png" />
                     </a>
                </li>
                <li>
                     <a title="google app engine" 
                         href="http://appengine.google.com">
                         <img class="aff" alt="App Engine" 
                         src="{{ MEDIA_URL }}global/images/affiliations/gae_logo_w120.png" />
                     </a>
                </li>
                <li>
                     <a title="Odeon Consulting Group" 
                         href="http://www.od-eon.com">
                         <img class="aff" alt="Odeon Consulting Group" 
                         src="{{ MEDIA_URL }}global/images/affiliations/odeon_logo.png" />
                     </a>
                </li>
            </ul>
         </li>			 

    </ul>
{% endblock sidebar %}

